{% extends 'base.html.twig' %}

{% if page.title  %}
{% set title = page.title %}
{% endif %}

{% block body %}

    <div class="box text-left">
        <div class="row">
            <div class="col-md-10 offset-md-1  text-center">
                <h1>{{ page.h1 }}</h1>
            </div>
        </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                {{ page.content|raw }}
                </div>
        </div>
    </div>


{% endblock %}