{% extends 'base.html.twig' %}
{% block title %}<title>{{ 'customer login'|trans|capitalize }}</title>{% endblock %}

{% block body %}
    {% block fos_user_content %}
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    {% endblock fos_user_content %}
{% endblock  %}
