{% extends 'base.html.twig' %}


{% block title %}{{ 'checkout'|trans|capitalize }}{% endblock %}

{% block body %}
    <style>
        .form-check {
            width: 10% !important;
            display: inline !important;
        }
    </style>
    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="capitalize_first_letter">{% trans %}delivery{% endtrans %}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="basket" class="col-lg-9">
            <div class="box">
                {{ include('/cart/_table_header.html.twig', {active: 4}) }}
                <div id="accordion" class="accordion mb-5">

                </div>

                <div class="box-footer">
                    <div class="pull-left">
                        <a href="{{ path('cart_index') }}" class="btn btn-outline-white-secondary"><i class="fa fa-chevron-left"></i>{% trans %}back to cart{% endtrans %}</a>
                    </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-outline-white-primary" value="{% trans %}proceed to payment{% endtrans %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}