<a href="basket.html" class="btn btn-outline-primary mr-1 d-lg-none">
    <i class="fa fa-shopping-cart"></i><span class="d-none d-sm-inline">3 items {% trans %}in cart{% endtrans %}</span>
</a>
<a href="basket.html" class="btn btn-outline-primary d-none d-lg-inline-block">
    <i class="fa fa-shopping-cart"></i><span class="hidden-sm">1 items <span class="hidden-md">{% trans %}in cart{% endtrans %}</span></span>
</a>