.capitalize_first_letter::first-letter
{
    text-transform: uppercase !important;
}

form label{
    color: #c27baa;
}

form label::first-letter
{
    text-transform: uppercase !important;
}

.required::after
{
    color: #e32;
    content: ' *';
    display:inline;
}

.background-image-fixed-2
{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.form-check input{
    margin-top: .1rem;
}