{% extends 'base.html.twig' %}
{% block title %}{% trans %}Регистрация{% endtrans %}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {% block fos_user_content %}
        <div class="row">
            <div class="col-lg-7 offset-3">
                <div class="box" style="border: none;">
                    <p class="capitalize_first_letter">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}
