<ul class="breadcrumb justify-content-md-start justify-content-center">
    <li class="breadcrumb-item"><a href="{{ path('main') }}">Главная</a></li>
    {% for b in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ path('category', {'slug':b.slug }) }}">{{ b.name }}</a></li>
    {% endfor %}
</ul>
