{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            {{ render(controller(
                'App\\Controller\\DefaultController::breadcrumbs',
                { 'node': category }
            )) }}
        </div>
        <div class="box text-center">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>{{ category.name }}</h1>
                    <p>
                        {{ category.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
