{% extends 'base.html.twig' %}

{% block title %}{{ 'contacts'|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="capitalize_first_letter">{% trans %}contacts{% endtrans %}</h1>
                <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
                <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
            </div>
        </div>
    </div>
{% endblock %}