{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="box text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>Часто задаваемые вопросы</h1>
            </div>
            </div>
     </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2>Как купить</h2><br /><br />
            </div>
            <div class="col-md-10 offset-md-1">
                <h2>Доставка</h2><br /><br />
                <p>
                    По России:<br /><br />

                    Доставка Почтой России — 250 руб.
                </p>
                <p>
                    Москва:<br />
                    Получение посылки самовывозом у продавца возможно при оплате хранения в размере 150 рублей наличными выдающему продавцу. Условия бесплатного получения уточнять в личке курьера.
                    Вести себя необходимо тихо, не отвлекать продавца от работы с покупателями, оплатить, забрать посылку и уйти.
                    НЕ НАДО ОРАТЬ О ТОМ ЧТО ВЫ БЕРЁТЕ ЛИТЬЁ, И В ДАЛЬНЕЙШЕМ НЕ НАДО ГОВОРИТЬ ГДЕ ВЫ ЕГО БРАЛИ.
                    Чем вы тише - тем дольше работает точка выдачи.
                </p>
            </div>
            <div class="col-md-10 offset-md-1">
                <h2>Статусы заказа</h2>
                <p>
                    делал заказ - В обработке.

                    Оплатил - В ожидании

                    Выслали - Сделка завершена (добавлен трек для отслеживания посылки)

                </p>
            </div>
            </div>
        </div>
    </div>


{% endblock %}