{% extends 'base.html.twig' %}

{% block title %}Поиск{% endblock %}

{% block body %}

    {% for product in products %}
        {% include 'product/short.html.twig' with {'product': product} %}
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
