{% extends 'base.html.twig' %}

{% block title %}Поиск{% endblock %}

{% block body %}
<div class="col-md-9">
    <div class="info-bar">
        <div class="row">
            <div class="col-lg-4 products-showing">Showing <strong>{{ products.count }}</strong> of <strong>{{ products.getTotalItemCount }}</strong> products</div>
            <div class="col-lg-8 products-number-sort">
                <form class="form-inline"></form>
                <div class="row">
                    <div class="col-6 col-lg-7">
                        <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-outline-primary mr-1">12</a>
                            <a href="#" class="btn btn-outline-secondary btn-sm mr-1">24</a>
                            <a href="#" class="btn btn-outline-secondary btn-sm mr-1">All</a>
                            products
                        </div>
                    </div>
                    <div class="col-6 col-lg-5">
                        <div class="products-sort-by d-flex justify-content-end"><strong>Sort by</strong>
                            <select name="sort-by" class="form-control form-control-sm">
                                <option>Price</option>
                                <option>Name</option>
                                <option>Sales first</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row products">
        {% for product in products %}
            {% include 'product/short.html.twig' with {'product': product} %}
        {% endfor %}
    </div>
</div>

<div class="pages">
    <p class="loadMore"><a href="#" class="btn btn-outline-primary"><i class="fa fa-chevron-down"></i> {% trans %}Load more{% endtrans %}</a></p>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(products) }}
    </nav>
</div>

{% endblock %}
