<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>{% trans %}html.head.title{% endtrans %}</title>{% endblock %}
    {% block description %}<meta name="description" content="{% trans %}html.head.description{% endtrans %}" />{% endblock %}
    {% block keywords %}<meta name="keywords" content="{% trans %}html.head.keywords{% endtrans %}" />{% endblock %}

    {{ render(controller('App\\Controller\\DefaultController::head')) }}

</head>
<body class="undefined">

    {{ render(controller('App\\Controller\\DefaultController::header')) }}
    <div id="all">
        <div id="content">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% cache 'footer' {time: 3600} %}
        {{ render(controller('App\\Controller\\DefaultController::footer')) }}
    {% endcache %}

    {% include '_layout/footer.html.twig' %}
</body>
</html>
