<!DOCTYPE html>
<html>
<head>
    <title>{% if title is defined and title %} {{ title }} {% endif %}</title>
    {% include '_layout/header.html.twig' %}
    {{ render(controller('App\\Controller\\DefaultController::head')) }}
</head>
<body class="undefined">

    {{ render(controller('App\\Controller\\DefaultController::header')) }}
    <div id="all">
        <div id="content">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% cache 'footer' {time: 3600} %}
        {{ render(controller('App\\Controller\\DefaultController::footer')) }}
    {% endcache %}

    {% include '_layout/footer.html.twig' %}
</body>
</html>
