<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% include '_layout/header.html.twig' %}
</head>
<body class="undefined">

{{ render(controller('App\\Controller\\DefaultController::header')) }}
<div id="all">
    <div id="content">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
{{ render(controller('App\\Controller\\DefaultController::footer')) }}


{% include '_layout/footer.html.twig' %}
</body>
</html>
