<!DOCTYPE html>
<html>
<head>
    <title>{% if title is defined %} {{ title }} {% endif %}</title>
    {% include '_layout/header.html.twig' %}
    <meta name="keywords" content="{% if keywords is defined %} {{ keywords }} {% endif %}" />
    <meta name="description" content="{% if description is defined %} {{ description }} {% endif %}" />
</head>
<body class="undefined">


    {% block body %}
    {% endblock %}


    {% include '_layout/footer.html.twig' %}

</body>
</html>
