<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>{% trans %}html.head.title{% endtrans %}</title>{% endblock %}
    {% block description %}<meta name="description" content="{% trans %}html.head.description{% endtrans %}" />{% endblock %}
    {% block keywords %}<meta name="keywords" content="{% trans %}html.head.keywords{% endtrans %}" />{% endblock %}

    {{ render(controller('App\\Controller\\ADefaultController::head')) }}
</head>
<body class="undefined">

    {{ render(controller('App\\Controller\\MyController::header')) }}

    {% block body %}
    {% endblock %}

    {% cache 'footer' {time: 3600} %}
        {{ render(controller('App\\Controller\\MyController::footer')) }}
    {% endcache %}

    {% include '_layout/footer.html.twig' %}
</body>
</html>
