<!DOCTYPE html>
<html>
<head>
    <title>{% if title is defined and title is not empty %} {{ title }} {% endif %}</title>
    {% include '_layout/header.html.twig' %}
    {{ render(controller('App\\Controller\\DefaultController::head')) }}
</head>
<body class="undefined">

    {{ render(controller('App\\Controller\\MyController::header')) }}

    {% block body %}
    {% endblock %}

    {% cache 'footer' {time: 3600} %}
        {{ render(controller('App\\Controller\\MyController::footer')) }}
    {% endcache %}
    {% include '_layout/footer.html.twig' %}
</body>
</html>
