{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'edit address'|trans|capitalize }}</title>{% endblock %}

{% block body %}
    <h1 class="capitalize_first_letter">{% trans %}edit address{% endtrans %}</h1>

    {{ include('my/address/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
